%p#notice= notice
%p
  %b Name:
  = @weapon.name
%p
  %b Types:
  = @weapon.types
%p
  %b Heat:
  = @weapon.heat
%p
  %b Damage:
  = @weapon.damage
%p
  %b Minimum Range:
  = @weapon.minrange
%p
  %b Short Range:
  = @weapon.shrtrange
%p
  %b Medium Range:
  = @weapon.medrange
%p
  %b Long Range:
  = @weapon.longrange
%p
  %b Ammo per Ton:
  = @weapon.ammoperton
%p
  %b To Hit Modifier:
  = @weapon.tohitmod

= link_to 'Edit', edit_weapon_path(@weapon)
\|
= link_to 'Back', weapons_path
